* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 20px
}

img {
    width: 378px;
    height: 252px;
}

/* ------------- Menu ------------- */

.menu-container {
    color: white;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.home {
    font-size: 20px;
}

.login {
    margin-left: 20px;
}

.signup {
    margin-left: auto;
}

/* ------------- Header ------------- */

.header-container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.header {
    margin: 100px 0 50px 0;
}

/* ------------- Gallery ------------- */

.gallery-container {
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.gallery {
    width: 1310px;
    padding-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.photo-container {
    background-color: black;
    width: 30%;
    padding: 8px 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.photo-container-mid {
    background-color: black;
    width: 30%;
    padding: 8px 0;
    margin: 40px 65px 0 65px;
    display: flex;
    justify-content: center;
}

/* ------------- Footer ------------- */

.footer-container {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: lightblue;
    height: 200px;
    width: 100%
}



















